@import "bootstrap.less";
@import "bootswatch.less";

body {
    /*padding-top: 50px;*/
    max-width: 1200px;
    margin: 0 auto;
}

.header .flag, .navbar-brand .flag {
    background: url('../img/flag.svg') no-repeat;
    background-size: contain;
}
.header .flag {
    width: 225px;
    height: 50px;
    margin: 10px;
}
.navbar {
    z-index: 100;
}
.navbar-brand {
    width: 0;
    padding: 0;
    margin: 5px !important;
    overflow: hidden;
    -webkit-transition: width 300ms;
    .flag {
        width: 112px;
        height: 25px;
    }
}

#sidebar {
    li {
        a {
            display: block;
            padding: 0;
            color: #333;
        }
        &:hover {
            background-color: @gray-lighter;
        }
        &.active > a:hover {
            background-color: transparent;
        }
    }
    .list-group {
        font-size: @font-size-large;
        line-height: @line-height-computed;
        &.nested {
            font-size: @font-size-base;
            line-height: @line-height-base;
            margin-top: 8px;
            margin-bottom: 0;
            border: 0;
            box-shadow: none;
            overflow: hidden;
            -webkit-transition: height .3s, margin-top .3s;
        }
    }
    .list-group-item {
        &:not(.active) .list-group.nested {
            height: 0px !important;
            margin-top: 0px;
        }
        &.active {
            text-shadow: none;
        }
        &:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            // border-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .nested .list-group-item {
        padding: 4px 22px;
        border: 0;
    }
}

/* AFFIX STYLES */

.navbar.affix {
    top: 0;
}
.affix .navbar-brand {
    width: 115px;
}
#sidebar.affix {
    top: 0px;
}